.button {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    font-weight: var(--bold);
    border-radius: var(--border-radius);
}

/* Disabled */

.button[disabled] {opacity:0.75;cursor:default;}
.button[disabled]:hover {animation:none;}
.button[disabled]:active {animation:none;}

/* Sizes */

.button._xs         {min-height:24px;padding:calc(12px / 4) calc(12px - 1px);font-size:calc(var(--button-base-font-size) - 2px);line-height:calc(var(--button-base-font-size) - 2px / 3 * 4)}
.button._s          {min-height:30px;padding:calc(15px / 4) calc(15px - 1px);font-size:calc(var(--button-base-font-size) - 1px);line-height:calc(var(--button-base-font-size) - 1px / 3 * 4)}
.button._m, .button {min-height:36px;padding:calc(18px / 4) calc(18px - 1px);font-size:var(--button-base-font-size);            line-height:calc(var(--button-base-font-size) / 3 * 4)}
.button._l          {min-height:42px;padding:calc(21px / 4) calc(21px - 1px);font-size:calc(var(--button-base-font-size) + 2px);line-height:calc(var(--button-base-font-size) + 2px / 3 * 4)}
.button._xl         {min-height:48px;padding:calc(24px / 4) calc(24px - 1px);font-size:calc(var(--button-base-font-size) + 3px);line-height:calc(var(--button-base-font-size) + 3px / 3 * 4)}
.button._xxl        {min-height:60px;padding:calc(30px / 4) calc(30px - 1px);font-size:calc(var(--button-base-font-size) + 5px);line-height:calc(var(--button-base-font-size) + 5px / 3 * 4)}
.button._xxxl       {min-height:72px;padding:calc(36px / 4) calc(36px - 1px);font-size:calc(var(--button-base-font-size) + 7px);line-height:calc(var(--button-base-font-size) + 7px / 3 * 4)}

/* Shape */

.button._square {}
.button._round {border-radius:100%;}
.button._round, .button._square {padding:0;}

.button._round._xs,   .button._square._xs                                 {width:24px;}
.button._round._s,    .button._square._s                                  {width:30px;}
.button._round._m,    .button._square._m, .button._round, .button._square {width:36px;}
.button._round._l,    .button._square._l                                  {width:42px;}
.button._round._xl,   .button._square._xl                                 {width:48px;}
.button._round._xxl,  .button._square._xxl                                {width:60px;}
.button._round._xxxl, .button._square._xxxl                               {width:72px;}

/* Icon (i) */

.button svg {flex-shrink:0;}

.button._adjust-icon._xs svg                          {width:calc(24px / 5 * 3);height:calc(24px / 5 * 3);}
.button._adjust-icon._s svg                           {width:calc(30px / 5 * 3);height:calc(30px / 5 * 3);}
.button._adjust-icon._m svg, .button._adjust-icon svg {width:calc(36px / 5 * 3);height:calc(36px / 5 * 3);}
.button._adjust-icon._l svg                           {width:calc(42px / 5 * 3);height:calc(42px / 5 * 3);}
.button._adjust-icon._xl svg                          {width:calc(48px / 5 * 3);height:calc(48px / 5 * 3);}
.button._adjust-icon._xxl svg                         {width:calc(60px / 5 * 3);height:calc(60px / 5 * 3);}
.button._adjust-icon._xxxl svg                        {width:calc(72px / 5 * 3);height:calc(72px / 5 * 3);}

.button._left-icon  {padding-left:0;}
.button._right-icon {padding-right:0;}

.button._xs._left-icon svg                        {margin:0 1px 0 2px;}
.button._s._left-icon svg                         {margin:0 2px 0 4px;}
.button._m._left-icon svg, .button._left-icon svg {margin:0 3px 0 6px;}
.button._l._left-icon svg                         {margin:0 4px 0 8px;}
.button._xl._left-icon svg                        {margin:0 5px 0 10px;}
.button._xxl._left-icon svg                       {margin:0 6px 0 12px;}
.button._xxxl._left-icon svg                      {margin:0 7px 0 14px;}

.button._xs._right-icon svg                         {margin:0 2px 0 1px;}
.button._s._right-icon svg                          {margin:0 4px 0 2px;}
.button._m._right-icon svg, .button._right-icon svg {margin:0 6px 0 3px;}
.button._l._right-icon svg                          {margin:0 8px 0 4px;}
.button._xl._right-icon svg                         {margin:0 10px 0 5px;}
.button._xxl._right-icon svg                        {margin:0 12px 0 6px;}
.button._xxxl._right-icon svg                       {margin:0 14px 0 7px;}

/* Default */

.button,          .button._default          {background-color:var(--white);border:1px solid var(--border-color);color:var(--dark);}
.button:hover,    .button._default:hover    {animation:dark 1s -.05s forwards paused;color:var(--dark);}
.button._current, .button._default._current {animation:dark 1s -.125s forwards paused;}
.button:active,   .button._default:active   {animation:dark 1s -.1s forwards paused;}

/* Link */

.button._link {border-color:transparent;background-color:transparent;}
.button:not([disabled])._link:hover {animation:dark 1s -.05s forwards paused;}
.button:not([disabled])._link._current {animation:dark 1s -.125s forwards paused;}
.button:not([disabled])._link:active {animation:dark 1s -.1s forwards paused;}

/* White */

.button._white {border-color:transparent;background-color:var(--white);}
.button:not([disabled])._white:hover {animation:dark 1s -.05s forwards paused;}
.button:not([disabled])._white._current {animation:dark 1s -.125s forwards paused;}
.button:not([disabled])._white:active {animation:dark 1s -.1s forwards paused;}

/* Light */

.button._light {border-color:transparent;background-color:var(--light);}
.button:not([disabled])._light:hover {animation:white 1s -.15s forwards paused;}
.button:not([disabled])._light._current {animation:dark 1s -.125s forwards paused;}
.button:not([disabled])._light:active {animation:dark 1s -.1s forwards paused;}

/* Transparent */

.button._transparent {border-color:transparent;background-color:transparent;color:var(--white);opacity:0.75}
.button:not([disabled])._transparent:hover {animation:none;opacity:1;}
.button:not([disabled])._transparent._current {animation:none;}
.button:not([disabled])._transparent:active {animation:none;}

/* Grey */

.button._grey {border-color:transparent;color:var(--white);background-color:var(--grey);}
.button:not([disabled])._grey:hover {animation:white 1s -.15s forwards paused;}
.button:not([disabled])._grey._current {animation:white 1s -.175s forwards paused;}
.button:not([disabled])._grey:active {animation:dark 1s -.1s forwards paused;}

.button._grey._bordered {color:var(--grey);border-color:var(--grey);background-color:var(--white);}
.button:not([disabled])._grey._bordered:hover {animation:dark 1s -.05s forwards paused;}
.button:not([disabled])._grey._bordered._current {animation:dark 1s -.075s forwards paused;}
.button:not([disabled])._grey._bordered:active {animation:dark 1s -.1s forwards paused;}
.button._grey._bordered._loading {background-image:var(--button-loader-grey);}

/* Blue */

.button._blue {background-color:var(--blue);color:var(--white);border-color:transparent;}
.button:not([disabled])._blue:hover {animation:white 1s -.15s forwards paused;}
.button:not([disabled])._blue._current {animation:white 1s -.175s forwards paused;}
.button:not([disabled])._blue:active {animation:dark 1s -.1s forwards paused;}

.button._blue._bordered {color:var(--blue);border-color:var(--blue);background-color:var(--white);}
.button:not([disabled])._blue._bordered:hover {animation:blue 1s -.1s forwards paused;}
.button:not([disabled])._blue._bordered._current {animation:blue 1s -.125s forwards paused;}
.button:not([disabled])._blue._bordered:active {animation:blue 1s -.15s forwards paused;}
.button._blue._bordered._loading {background-image:var(--button-loader-blue);}

/* Green */

.button._green {background-color:var(--green);color:var(--white);border-color:transparent;}
.button:not([disabled])._green:hover {animation:white 1s -.15s forwards paused;}
.button:not([disabled])._green._current {animation:white 1s -.175s forwards paused;}
.button:not([disabled])._green:active {animation:dark 1s -.1s forwards paused;}

.button._green._bordered {color:var(--green);border-color:var(--green);background-color:var(--white);}
.button:not([disabled])._green._bordered:hover {animation:green 1s -.1s forwards paused;}
.button:not([disabled])._green._bordered._current {animation:green 1s -.125s forwards paused;}
.button:not([disabled])._green._bordered:active {animation:green 1s -.15s forwards paused;}
.button._green._bordered._loading {background-image:var(--button-loader-green);}

/* Red */

.button._red {background-color:var(--red);color:var(--white);border-color:transparent;}
.button:not([disabled])._red:hover {animation:white 1s -.15s forwards paused;}
.button:not([disabled])._red._current {animation:white 1s -.175s forwards paused;}
.button:not([disabled])._red:active {animation:dark 1s -.1s forwards paused;}

.button._red._bordered {color:var(--red);border-color:var(--red);background-color:var(--white);}
.button:not([disabled])._red._bordered:hover {animation:red 1s -.1s forwards paused;}
.button:not([disabled])._red._bordered._current {animation:red 1s -.125s forwards paused;}
.button:not([disabled])._red._bordered:active {animation:red 1s -.15s forwards paused;}
.button._red._bordered._loading {background-image:var(--button-loader-red);}

/* dark */

.button._dark {background-color:var(--dark);color:var(--white);border-color:transparent;}
.button:not([disabled])._dark:hover {animation:white 1s -.15s forwards paused;}
.button:not([disabled])._dark._current {animation:white 1s -.175s forwards paused;}
.button:not([disabled])._dark:active {animation:white 1s -.1s forwards paused;}

.button._dark._bordered {color:var(--dark);border-color:var(--dark);background-color:var(--white);}
.button:not([disabled])._dark._bordered:hover {animation:dark 1s -.1s forwards paused;}
.button:not([disabled])._dark._bordered._current {animation:dark 1s -.125s forwards paused;}
.button:not([disabled])._dark._bordered:active {animation:dark 1s -.15s forwards paused;}
.button._dark._bordered._loading {background-image:var(--button-loader-dark);}

/* Loading */
.button._loading {color:transparent !important;background-position:center;background-repeat:no-repeat;background-size:auto 140%;}
.button._loading, .button._loading._left-iconnk, .button._loading._white, .button._loading._light {
    background-image:var(--button-loader-dark);
}
.button._loading._grey, .button._loading._blue, .button._loading._green, .button._loading._red, .button._loading._orange, .button._loading._dark, .button._loading._transparent {
    background-image:var(--button-loader-white);
}

/* Group */
.button-group {display:flex;}
    .button-group .button:not(:first-child) {border-top-left-radius:0;border-bottom-left-radius:0;margin-left:-1px;}
    .button-group .button:not(:last-child) {border-top-right-radius:0;border-bottom-right-radius:0;}